<html>
<head>
  <title>Shoe Store</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
</head>
<body>
  <div class='container'>
    <h1>Brands</h1>

    {% if brands is not empty %}
      <p>Here are all the brands:</p>
      <ul>
      {% for brand in brands %}
        <li><a href="/brands/{{ brand.getId }}">{{ brand.getName }}</a></li>
        <li>${{ brand.getPrice }}.00</li>
      {% endfor %}
      </ul>
    {% endif %}

    <form action='/brands' method='post'>
      <label for='name'>Brand Name</label>
      <input id='name' name='name' type='text' required>
      <label for='price'>Price</label>
      <input id='price' name='price' type='number'>

      <button type='submit' class='btn-success'>Add Brand</button>
    </form>
    <form action='/delete_brands' method='post'>
      <button type='submit' class='btn-danger'>Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
  </div>
</body>
