<html>
<head>
  <title>College</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Shoe Store!</h1>

    <h3><a href="/stores">Add or view Stores</a></h3>
    <h3><a href="/brands">Add or view Brands</a></h3>
  </div>

</body>
</html>
